// Variables
$font-stack: Helvetica, sans-serif;
$font-color: #333;
$accent-color: #bada55;
$darker-accent: darken($accent-color, 10%);
$lighter-accent: lighten($accent-color, 20%);
$navbar-height: 50px;

// General Styles
* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width: 70%;
  margin: 0 auto;
}
h2 {
  color: $accent-color;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  background: $font-color;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  transform: translateX(-20px);
  margin-bottom: 30px;
  font-size: 1.3rem;
  text-align: center;
  padding-left: 35px;
}
section:not(#hero) {
  margin: 30px 0;
}

// Navbar
nav {
  a {
    color: $font-color;
    border-radius: 5px;
    &:hover {
      color: $font-color;
      border-bottom: solid 3px $darker-accent;
      padding-bottom: 2px;
    }
  }
  .navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    box-sizing: border-box;
  }
}

// Hero Section
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$navbar-height});
  background: linear-gradient($font-color, transparent 100%),
    url("../img/typing.gif");
  background-size: cover;
  background-position: center center;

  .content {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border: solid 3px rgba(255, 255, 255, 01);
    border-radius: 7px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      background: $accent-color;
      height: 50px;
      width: 60%;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      border: solid 3px $darker-accent;
      border-radius: 7px;
      transition: all 150ms ease-in-out;
      &:visited,
      &:link,
      &:active {
        color: $font-color;
        text-decoration: none;
      }
      &:hover {
        background: $lighter-accent;
      }
      &:active {
        background: $darker-accent;
        transform: translateY(2px);
      }
    }
    p {
      text-align: center;
    }
  }
  & *:not(:last-child) {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.2rem;
  }
}

// About
#about {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-picture {
      position: relative;
      border: solid 9px white;
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        background: $accent-color;
        position: absolute;
        left: -25px;
        z-index: -5;
        transform: rotate(20deg);
        border-radius: 5px;
      }
      img {
        border-radius: 5px;
      }
    }
    .about-text {
      margin-right: 20px;
    }
  }
}

// Contact
#contact {
  .content {
    .or {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $font-color;
      width: 100%;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .btn,
    #form_message {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
    .warning {
      color: red;
      font-weight: bold;
    }
  }
}

// Footer
footer {
  height: 50px;
  background: $font-color;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: white;
    &:hover {
      color: $accent-color;
      text-decoration: none;
    }
    i {
      font-size: 1.5rem;
    }
  }
}

// Media Queries
// Laptop
@media screen and (max-width: 1024px) {
  #hero {
    .content {
      p {
        text-align: left;
      }
      a {
        width: 90%;
      }
    }
  }
}
// Tablet
@media screen and (max-width: 768px) {
  #hero {
    .content {
      a {
        font-size: 1rem;
      }
    }
  }
  #about {
    .content {
      flex-direction: column-reverse;
    }
  }
}

// Mobile Large
@media screen and (max-width: 452px) {
  .content {
    width: 90%;
    padding: 15px;
  }
  #about {
    .content {
      .photo {
        transform: scale(0.8);
        .profile-picture {
          &::after {
            top: 0;
            left: -15px;
          }
        }
      }
    }
  }
  #contact {
    .content {
      .btn,
      #form_message {
        width: 100%;
      }
    }
  }
  footer {
    flex-direction: column;
    height: 120px;
    div {
      order: -2;
    }
  }
}

// Mobile Medium
@media screen and (max-width: 375px) {
  #hero .content {
    a {
      font-size: 1rem;
      width: 100%;
    }
  }
  #about {
    .content {
      .photo {
        transform: scale(0.7);
      }
    }
  }
}

// Mobile small
@media screen and (max-width: 320px) {
  #hero {
    .content {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      h1 {
        text-align: center;
        margin-bottom: 0;
      }
      p {
        margin: 0;
      }
      a {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 50%;
  }
  #hero {
    .content {
      a {
        font-size: 1.1rem;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .content {
    width: 40%;
  }
  #hero {
    .content {
      a {
        font-size: 1.2rem;
      }
    }
  }
}
