// Variables
$font-stack: Helvetica, sans-serif;
$font-color: #333;
$accent-color: #bada55;
$darker-accent: darken($accent-color, 30%);
$lighter-accent: lighten($accent-color, 30%);

// General Styles
* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Content Container
.content {
  width: 50%;
  margin: 0 auto;
}

// Hero Section
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  // Test
  background: linear-gradient(rgba(0, 0, 0, 1), transparent 99%),
    url("../img/typing.gif");
  background-size: cover;
  background-position: center center;
  .content {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border: solid 3px rgba(255, 255, 255, 01);
    border-radius: 7px;
  }
  // End Test
  & *:not(:last-child) {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.2rem;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: $accent-color;
    height: 50px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    border: solid 3px $darker-accent;
    border-radius: 7px;
    transition: width 300ms ease-in-out, transform 150ms ease-in-out;
    &:visited,
    &:link,
    &:active {
      color: $font-color;
      text-decoration: none;
    }
    &:hover {
      width: 102%;
    }
    &:active {
      transform: translateY(5px);
    }
  }
}

// Media Queries
// Tablet
@media screen and (max-width: 768px) {
  #hero {
    a {
      font-size: 1.2rem;
    }
  }
}

// Mobile Large
@media screen and (max-width: 452px) {
  .content {
    width: 90%;
  }
}

// Mobile Medium
@media screen and (max-width: 375px) {
  #hero {
    a {
      font-size: 1rem;
    }
  }
}

// Mobile Medium
@media screen and (max-width: 320px) {
  #hero {
    .content {
      padding: 15px;
    }
  }
}
